.formContainer {
    margin-top: 10vh !important;
    padding-top: 2.5vh !important;
    padding-bottom: 5vh !important;
    border-radius: 8px;
    background-color: rgb(240, 240, 240);
}

.formContainer > h2 {
    margin-bottom: 3rem;
}

input {
    height: 3rem;
    min-width: 80%;
    outline: none;
    border: none;
    border-radius: 7px;
    text-align: center;
    font-size: 1.1rem;
}

input:focus, textarea:focus {
    border: 2px solid rgb(106, 187, 253);
    outline: none !important;
}

.errorInput {
    border: 2px solid rgb(189, 0, 0) !important;
}

.errorMsg {
    color: rgb(189, 0, 0);
    min-width: 20vw;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word !important;
}
