.deleteConfirmBtn {
    width: 7vw;
    margin: .2rem .7rem;
    padding: 1rem 0;
    border: none;
    border-radius: 2rem;
    text-align: center;
    font-size: .7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    box-shadow: darkgrey 0px 2px 7px;
    cursor: pointer;
}

.oui {
    background-color: rgb(61, 112, 27);
}

.non {
    background-color: rgb(161, 44, 40);
}

.mb {
    margin-bottom: 30px;
}

.alertText {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(161, 44, 40);
}

